# OS / editor
.DS_Store
.idea/
.vscode/

# Logs / temp
*.log
tmp/
.cache/

# Secrets / local env
.env
.env.*
*.pem
*.key
id_rsa
id_rsa.pub
kubeconfig

# Java
**/target/
.m2/

# Node
**/node_modules/
**/dist/
**/build/

# Python (future-proof)
__pycache__/
*.pyc

